/* Styles for code-example extension. */

.mxn-example-table {
    width: 100%;
    padding: 0;
    padding-bottom: var(--spc-normal);
}

.mxn-example-table table {
    width: 100%;
}

.mxn-example-table table td[colspan="2"] p {
    color: var(--col-fg-text);
    font-weight: var(--fnt-weight-medium);
    margin: var(--spc-normal) 0;
    padding-bottom: var(--spc-small);
    border-bottom: var(--brd-solid-1px-normal);
}

.mxn-github-button {
    color: var(--col-fg-text);
    opacity: 0;
    transition: opacity 0.3s;
    font-size: var(--fnt-size-normal);
    position: absolute;
    top: var(--spc-normal);
    right: calc(var(--spc-normal) + 40px);
}

.mxn-github-button i {
    margin-left: var(--spc-smallest);
}

.highlight:hover .mxn-github-button {
    opacity: 0.8;
}
